@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;400&family=Sansita:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sansita", sans-serif;
}

body {
  background: linear-gradient(45deg, rgb(96, 176, 160), rgb(157, 124, 157));
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  padding: 0 10px;
  margin: 40px auto;
}

.wrapper {
  height: auto;
  gap: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 7px #138065;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
}

#search-input {
  width: 50%;
  max-width: 400px;
  padding: 10px 20px;
  border: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-size: 1rem;
  color: #333;
}

#search-button {
  padding: 10px 20px;
  background: #138065;
  color: #fff;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px;
}

.search-results {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: 0 auto;
}

.search-result {
  width: 100%;
  max-width: 450px;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.search-result img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  transition: 0.5 ease-in;
  display: block;
  cursor: pointer;
}

.search-img {
  width: 15px;
}

.search-result:hover img {
  transform: translateY(-7px);
  border-radius: 12px;
  opacity: 0.8;
}

.search-result a {
  text-decoration: none;
  font-size: 1rem;
  color: #333;
  display: block;
  padding: 10px;
  text-transform: capitalize;
  text-align: center;
}

#show-more-button {
  cursor: pointer;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  background: #138065;
  color: #fff;
  font-size: 1rem;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin: auto;
  display: block;
  display: none;
  margin-bottom: 50px;
}
